<a href="https://colab.research.google.com/github/paolax4l/PYTHON.EXCERCISES/blob/main/exercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Άσκηση 1

Φτιάξτε ένα σύνολο δεδομένων με πληροφορίες για 3 άρθρα από ένα δημοσιογραφικό site της επιλογής σας.

Οι πληροφορίες για κάθε άρθρο, θα είναι:
- τίτλος του άρθρου
- url του άρθρου
- συντάκτης του άρθρου
- θεματική κατηγορία άρθρου
- ημερομηνία δημοσίευσης του άρθρου

Οι πληροφορίες για κάθε άρθρο θα τοποθετηθούν σε ένα λεξικό.

Το σύνολο των δεδομένων της αρθρογραφίας των 3 άρθρων θα είναι μια λίστα, η οποία θα περιέχει τα 3 λεξικά.

**Παράδειγμα λεξικού (dictionary) με πληροφορίες για ένα άρθρο**:
```
articleD_1 = {
  "title": "Συναγερμός για κρούσμα κροτωνογενούς εγκεφαλίτιδας στην Ελλάδα – Εγκύκλιος ΕΟΔΥ",
  "url": "https://www.news247.gr/ygeia/sinagermos-gia-krousma-krotonogenous-egkefalitidas-stin-ellada-egkiklios-eodi/",
  "author": "ΓΙΑΝΝΗΣ ΔΕΒΕΤΖΟΓΛΟΥ",
  "section": "Υγεία",
  "date": "27 Μαρτίου 2025 13:40"    
}
```

**Hints & Tips:**
- αρχικά μπορείτε να δημιουργήσετε μια κενή λίστα με όνομα π.χ. "articlesL"
- στη συνέχεια μπορείτε να δημιουργείτε ένα-ένα τα λεξικά με τις πληροφορίες για τα άρθρα (όπως στο παραπάνω παράδειγμα) και
- να προσθέτε ένα-ένα τα λεξικά στη λίστα με append()
- τέλος, καλέστε τη λίστα των άρθρων με το όνομά της για να εμφανιστεί στην οθόνη (μπορείτε να την κάνετε και print για να δείτε τη διαφορά στον τρόπο που εμφανίζεται η λίστα στην οθόνη)

In [1]:
articelsL = []



---

In [5]:
articleD_1 = {
"title" : "Αλλαγές και ανατροπές φέρνει το νομοσχέδιο του υπουργείου Δικαιοσύνης",
"url" : "https://www.efsyn.gr/politiki/kybernisi/467907_allages-kai-anatropes-fernei-nomoshedio-toy-ypoyrgeioy-dikaiosynis",
"author" : "ΓΙΩΡΓΟΣ ΚΟΝΤΑΡΙΝΗΣ",
"section" : "ΚΥΒΕΡΝΗΣΗ",
"date" : "01.04.25 16:06"

}

In [6]:
articleD_2 = {
"title" : "Η προδιαγεγραμμένη πτώση μιας επιτυχημένης 55χρονης ηρωίδας",
"url" : "https://www.efsyn.gr/tehnes/theatro/467749_i-prodiagegrammeni-ptosi-mias-epityhimenis-55hronis-iroidas",
"author" : "Γρηγόρης Ιωαννίδης",
"section" : "ΘΕΑΤΡΟ",
"date" : "31.03.25 21:30"
}

In [7]:
articleD_3 = {
"title" : "Ασλανίδης σε Μπακαΐμη: Μετρήστε τα οστά, δώστε μας τα βίντεο, θέλουμε απαντήσεις",
"url" : "https://www.efsyn.gr/ellada/dikaiosyni/467913_aslanidis-se-mpakaimi-metriste-ta-osta-doste-mas-ta-binteo-theloyme",
"author" : "ΜΙΧΑΛΗΣ ΚΑΡΑΓΙΑΝΝΗΣ",
"section" : "ΔΙΚΑΙΟΣΥΝΗ",
"date" : "01.04.25 16:30"
}

In [8]:
articelsL.append(articleD_1)
articelsL.append(articleD_2)
articelsL.append(articleD_3)

In [9]:
print(articelsL)

[{'title': 'Αλλαγές και ανατροπές φέρνει το νομοσχέδιο του υπουργείου Δικαιοσύνης', 'url': 'https://www.efsyn.gr/politiki/kybernisi/467907_allages-kai-anatropes-fernei-nomoshedio-toy-ypoyrgeioy-dikaiosynis', 'author': 'ΓΙΩΡΓΟΣ ΚΟΝΤΑΡΙΝΗΣ', 'section': 'ΚΥΒΕΡΝΗΣΗ', 'date': '01.04.25 16:06'}, {'title': 'Η προδιαγεγραμμένη πτώση μιας επιτυχημένης 55χρονης ηρωίδας', 'url': 'https://www.efsyn.gr/tehnes/theatro/467749_i-prodiagegrammeni-ptosi-mias-epityhimenis-55hronis-iroidas', 'author': 'Γρηγόρης Ιωαννίδης', 'section': 'ΘΕΑΤΡΟ', 'date': '31.03.25 21:30'}, {'title': 'Ασλανίδης σε Μπακαΐμη: Μετρήστε τα οστά, δώστε μας τα βίντεο, θέλουμε απαντήσεις', 'url': 'https://www.efsyn.gr/ellada/dikaiosyni/467913_aslanidis-se-mpakaimi-metriste-ta-osta-doste-mas-ta-binteo-theloyme', 'author': 'ΜΙΧΑΛΗΣ ΚΑΡΑΓΙΑΝΝΗΣ', 'section': 'ΔΙΚΑΙΟΣΥΝΗ', 'date': '01.04.25 16:30'}]

### Άσκηση 2

Μετατρέψτε τη λίστα με τα λεξικά που φτιάξατε στην προηγούμενη άσκηση σε pandas dataframe.

**Hints & Tips:**
- Εισάγετε τη βιβλιοθήκη pandas με την εντολή ```import pandas as pd```
- Δημιουργήστε ένα dataframe με όνομα ```df```, με την εντολή ```df = pd.DataFrame(articlesL)```
- Καλέστε το df για να εμφανιστεί στην οθόνη

In [13]:
import pandas as pd
articlesL = [
    {
"title" : "Αλλαγές και ανατροπές φέρνει το νομοσχέδιο του υπουργείου Δικαιοσύνης",
"url" : "https://www.efsyn.gr/politiki/kybernisi/467907_allages-kai-anatropes-fernei-nomoshedio-toy-ypoyrgeioy-dikaiosynis",
"author" : "ΓΙΩΡΓΟΣ ΚΟΝΤΑΡΙΝΗΣ",
"section" : "ΚΥΒΕΡΝΗΣΗ",
"date" : "01.04.25 16:06"

},
{
"title" : "Η προδιαγεγραμμένη πτώση μιας επιτυχημένης 55χρονης ηρωίδας",
"url" : "https://www.efsyn.gr/tehnes/theatro/467749_i-prodiagegrammeni-ptosi-mias-epityhimenis-55hronis-iroidas",
"author" : "Γρηγόρης Ιωαννίδης",
"section" : "ΘΕΑΤΡΟ",
"date" : "31.03.25 21:30"
} ,
   {"title" : "Ασλανίδης σε Μπακαΐμη: Μετρήστε τα οστά, δώστε μας τα βίντεο, θέλουμε απαντήσεις",
"url" : "https://www.efsyn.gr/ellada/dikaiosyni/467913_aslanidis-se-mpakaimi-metriste-ta-osta-doste-mas-ta-binteo-theloyme",
"author" : "ΜΙΧΑΛΗΣ ΚΑΡΑΓΙΑΝΝΗΣ",
"section" : "ΔΙΚΑΙΟΣΥΝΗ",
"date" : "01.04.25 16:30"}

]
df = pd.DataFrame(articlesL)
print(df)

                                               title  \
0  Αλλαγές και ανατροπές φέρνει το νομοσχέδιο του...
1  Η προδιαγεγραμμένη πτώση μιας επιτυχημένης 55χ...
2  Ασλανίδης σε Μπακαΐμη: Μετρήστε τα οστά, δώστε...

                                                 url               author  \
0  https://www.efsyn.gr/politiki/kybernisi/467907...   ΓΙΩΡΓΟΣ ΚΟΝΤΑΡΙΝΗΣ
1  https://www.efsyn.gr/tehnes/theatro/467749_i-p...   Γρηγόρης Ιωαννίδης
2  https://www.efsyn.gr/ellada/dikaiosyni/467913_...  ΜΙΧΑΛΗΣ ΚΑΡΑΓΙΑΝΝΗΣ

      section            date
0   ΚΥΒΕΡΝΗΣΗ  01.04.25 16:06
1      ΘΕΑΤΡΟ  31.03.25 21:30
2  ΔΙΚΑΙΟΣΥΝΗ  01.04.25 16:30



---

### Άσκηση 3 (intro)

Στο site "ourworldindata.org" παρέχονται πάρα πολλά δεδομένα και γραφήματα για διάφορα topics για όλες τις χώρες του κόσμου.

Για παράδειγμα, στη σελίδα https://ourworldindata.org/explorers/covid?Metric=Excess+mortality+%28estimates%29&Interval=Cumulative&Relative+to+population=false&country=USA~BRA~JPN~DEU, παρέχονται δεδομένα και γραφήματα σχετικά με την Covid-19.

Αν επισκεφθείτε την παραπάνω σελίδα, επάνω αριστερά, υπάρχει ένας υπερσύνδεσμος με το κείμενο "Download this dataset". Εάν τον πατήσετε θα οδηγηθείτε στη σελίδα με τα datasets για τον covid.

Πιο κάτω, σ' αυτή τη σελίδα, υπάρχει η ενότητα "Download data", με πολλά κουμπάκια download.

Όταν πατήσετε κάποιο download μεταφέρεστε στη σελίδα του raw αρχείου csv με τα δεδομένα.

Μπορούμε να φέρουμε αυτά τα δεδομένα σε ένα dataframe στην Python, με την παρακάτω εντολή:

In [ ]:
import pandas as pd

covid_df = pd.read_csv("https://catalog.ourworldindata.org/garden/covid/latest/cases_deaths/cases_deaths.csv")
covid_df

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
0,Afghanistan,2020-01-04,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-86.0,-91.0,-81.0,-91.0,-86.0,NaN,NaN,NaN
1,Afghanistan,2020-01-05,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-85.0,-90.0,-80.0,-90.0,-85.0,NaN,NaN,NaN
2,Afghanistan,2020-01-06,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-84.0,-89.0,-79.0,-89.0,-84.0,NaN,NaN,NaN
3,Afghanistan,2020-01-07,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-83.0,-88.0,-78.0,-88.0,-83.0,NaN,NaN,NaN
4,Afghanistan,2020-01-08,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-82.0,-87.0,-77.0,-87.0,-82.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471245,Zimbabwe,2025-02-26,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1737.0,1819.0,1779.0,1819.0,1737.0,0.0,0.0,0.0
471246,Zimbabwe,2025-02-27,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1738.0,1820.0,1780.0,1820.0,1738.0,0.0,0.0,0.0
471247,Zimbabwe,2025-02-28,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1739.0,1821.0,1781.0,1821.0,1739.0,0.0,0.0,0.0
471248,Zimbabwe,2025-03-01,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1740.0,1822.0,1782.0,1822.0,1740.0,0.0,0.0,0.0
471249,Zimbabwe,2025-03-02,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1741.0,1823.0,1783.0,1823.0,1741.0,0.0,0.0,0.0



---

### Άσκηση 3 (actual part)

Βρείτε από το ourworldindata.org ένα dataset που σας ενδιαφέρει και ανοίξτε το σαν dataframe.

In [14]:
import pandas as pd
covid_df = pd.read_csv("https://catalog.ourworldindata.org/garden/covid/latest/covax/covax.csv")
covid_df

,country,year,delivered,only_donated,only_announced,delivered_per_gdp,only_donated_per_gdp,only_announced_per_gdp,delivered_per_used,only_donated_per_used,only_announced_per_used,delivered_per_capita,only_donated_per_capita,only_announced_per_capita
0,Australia,2022,0,0,60000000,0.000000,0.000000,41.480000,0.000,0.000,1.065,0.000,0.000,2.327
1,Austria,2022,1200000,2000000,0,2.860000,4.770000,0.000000,0.066,0.110,0.000,0.133,0.221,0.000
2,Belgium,2022,8200000,4400000,2400000,16.000000,8.580000,4.680000,0.325,0.174,0.095,0.705,0.378,0.206
3,Brazil,2022,0,5100000,16900000,0.000000,2.250000,7.450000,0.000,0.012,0.041,0.000,0.024,0.079
4,Canada,2022,14200000,15200000,21600000,7.690000,8.230000,11.690000,0.173,0.185,0.263,0.373,0.399,0.567
5,Denmark,2022,7300000,0,700000,19.600000,0.000000,1.880000,0.553,0.000,0.053,1.256,0.000,0.120
6,European Union (27),2022,286300000,109000000,131300000,18.389999,7.000000,8.430000,0.333,0.127,0.153,0.640,0.244,0.294
7,Finland,2022,2800000,300000,900000,10.580000,1.130000,3.400000,0.240,0.026,0.077,0.505,0.054,0.162
8,France,2022,61300000,16100000,42600000,22.450001,5.900000,15.600000,0.432,0.114,0.301,0.909,0.239,0.632
9,Germany,2022,92100000,33400000,49500000,24.549999,8.900000,13.200000,0.535,0.194,0.288,1.098,0.398,0.590
10,Greece,2022,4300000,0,0,18.600000,0.000000,0.000000,0.209,0.000,0.000,0.415,0.000,0.000
11,Hong Kong,2022,900000,6600000,500000,3.380000,24.790001,1.880000,0.060,0.442,0.033,0.119,0.874,0.066
12,Ireland,2022,1600000,2100000,300000,3.940000,5.170000,0.740000,0.149,0.195,0.028,0.321,0.421,0.060
13,Italy,2022,42000000,21100000,8900000,21.430000,10.770000,4.540000,0.309,0.155,0.065,0.696,0.350,0.147
14,Japan,2022,18100000,26200000,15700000,2.930000,4.230000,2.540000,0.071,0.102,0.061,0.144,0.208,0.125
15,Mexico,2022,0,0,20000000,0.000000,0.000000,16.639999,0.000,0.000,0.104,0.000,0.000,0.154
16,Netherlands,2022,14200000,3300000,9500000,15.340000,3.560000,10.260000,0.417,0.097,0.279,0.827,0.192,0.553
17,New Zealand,2022,1200000,6500000,1300000,6.220000,33.709999,6.740000,0.109,0.593,0.119,0.234,1.268,0.254
18,Norway,2022,3500000,2500000,1000000,7.160000,5.110000,2.050000,0.310,0.222,0.089,0.640,0.457,0.183
19,Portugal,2022,2900000,900000,1200000,12.360000,3.840000,5.110000,0.127,0.039,0.052,0.285,0.089,0.118
20,Slovakia,2022,1100000,1000000,0,10.080000,9.160000,0.000000,0.156,0.142,0.000,0.202,0.184,0.000
21,Slovenia,2022,1100000,300000,600000,20.330000,5.550000,11.090000,0.369,0.101,0.201,0.529,0.144,0.289
22,South Korea,2022,0,0,5000000,0.000000,0.000000,3.400000,0.000,0.000,0.041,0.000,0.000,0.097
23,Spain,2022,39600000,20100000,14300000,28.250000,14.340000,10.200000,0.422,0.214,0.152,0.847,0.430,0.306
24,Sweden,2022,6600000,4000000,400000,11.370000,6.890000,0.690000,0.312,0.189,0.019,0.650,0.394,0.039
25,Switzerland,2022,1800000,0,6200000,2.600000,0.000000,8.960000,0.115,0.000,0.396,0.207,0.000,0.711
26,United Arab Emirates,2022,0,0,1000000,0.000000,0.000000,2.470000,0.000,0.000,0.041,0.000,0.000,0.100
27,United Kingdom,2022,29700000,29300000,41000000,11.300000,11.150000,15.600000,0.211,0.208,0.291,0.435,0.430,0.601
28,United States,2022,237600000,276100000,386300000,13.420000,15.590000,21.809999,0.424,0.492,0.689,0.714,0.829,1.160